body {
    font-family: 'Baloo Da 2', cursive;
}

.main {
    color: #323232;
    /* text-align: center; */
    background-color: white;
    width: 333px;
    margin: auto;
    margin-top: 15vh;
    padding: 50px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    border-radius: 3px;
}