.centreSearch {
    color: #323232;
    text-align: center;
    background-color: white;
    width: 333px;
    margin: auto;
    margin-top: 22vh;
    padding: 50px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    border-radius: 3px;
}



.topnav {
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}


#homepageButton {
    width: 90%;
    padding: 5px;
    border: 0;
    background-color: lightgrey;
    margin-bottom: 3px;
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color:#CB0000;
    color: white;
}

p {
    box-sizing: border-box;
    height: auto;
}

#homepageButton:hover{
    /* margin-bottom: 50px; */
    transform: translateY(-2px);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 2px 2px 0 rgba(0,0,0,0.19);
    background-color: red;
}

#toggle {
    background: rgba(255, 255, 255, 0.692);
    border: 1px black solid;
    padding: 10px;
    text-align: center;
}

#title{
    text-decoration: underline;

}