body {
    font-family: 'Baloo Da 2', cursive;
}

#cardList {
    display: flex;
    margin-left: -1%;
}

#header {
    margin-top: 50px; 
}

.vehicleCard {
    min-width: 355px;
    height: 150px;
    margin: 10px;
    margin-bottom: 20px;
    border: 0;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    border-radius: 3px;
}

.vehicleCard button {
    position: absolute;
    top: 65%;
    left: 5%;
    width: 90%;
}

.side {
    min-width: 375px;
}

.container {
    width: 100vw;
    text-align: center;
}

button {
    width: 90%;
    padding: 5px;
    border: 0;
    background-color: lightgrey;
    margin-bottom: 3px;
    border-radius: 3px;
}

button {
    background-color:#CB0000;
    color: white;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 2px 2px 0 rgba(0,0,0,0.19);
    background-color: red;
}


form button {
    margin-top: 20px;
}

p.grey-text.text-darken-1 {
    margin-top: 8px;
    margin-bottom: 16px;
}
